.nav {
    padding-top: 50px;
    margin-bottom: 35px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__data {
        ul {
            list-style: none;
            display: flex;
            margin-bottom: 0;

            li:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    &__filter {
        label {
            margin-right: 10px;
        }

        input {
            outline: none;
            border: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.3);

            &:focus,
            &:active {
                border-bottom: 2px solid rgba(0, 0, 0, 1);

                &::placeholder {
                    transition: opacity .2s;
                    opacity: 0;
                }
            }
        }
    }
}