*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
}

tbody th:not(:first-child) {
    font-weight: normal!important;
}

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

#userInfo {
    textarea {
        width: 50%;
        height: 100px;
        resize: none;
    }
}

tbody tr {
    cursor: pointer;
}